*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}

h1{
     font-size: 2rem; 
     text-align: center;
    
}

body{
    background-color:lightsteelblue;
}

.cachorros input{
    background-color: lightsteelblue;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px;
    width: 400px;
    height: 30px;
    
}

.cachorros button{
    background-color: lightsteelblue;
    box-shadow: 0 2px 8px blue ;
    border-radius: 8px;
    width: 60px;
    height: 30px;
}

.doguinhos{
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    gap: 20px;  
}

.doguinhos img{
    width: 150px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 2px 4px; 
    
}

 img:hover{
    transform: scale(1.2);
    transition: 1.5s;
    
}